ServiciosEstudiantesScritorio/xml-resources/web-service-references/Servicio/wsdl/localhost_8080/ServiciosEstudiantes/Servicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Estudianteslist" type="tns:Estudianteslist" />

<xs:element name="EstudianteslistResponse" type="tns:EstudianteslistResponse" />

<xs:element name="Login" type="tns:Login" />

<xs:element name="LoginResponse" type="tns:LoginResponse" />

<xs:element name="addNota" type="tns:addNota" />

<xs:element name="addNotaResponse" type="tns:addNotaResponse" />

<xs:element name="addProm" type="tns:addProm" />

<xs:element name="addPromResponse" type="tns:addPromResponse" />

<xs:element name="filtrarProfe" type="tns:filtrarProfe" />

<xs:element name="filtrarProfeResponse" type="tns:filtrarProfeResponse" />

<xs:element name="filtroNotas" type="tns:filtroNotas" />

<xs:element name="filtroNotasResponse" type="tns:filtroNotasResponse" />

<xs:element name="listaProfes" type="tns:listaProfes" />

<xs:element name="listaProfesResponse" type="tns:listaProfesResponse" />

<xs:element name="listarNotas" type="tns:listarNotas" />

<xs:element name="listarNotasResponse" type="tns:listarNotasResponse" />

<xs:element name="notasP1P2" type="tns:notasP1P2" />

<xs:element name="notasP1P2Response" type="tns:notasP1P2Response" />

<xs:element name="obtEstudiante" type="tns:obtEstudiante" />

<xs:element name="obtEstudianteResponse" type="tns:obtEstudianteResponse" />

<xs:complexType name="listaProfes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listaProfesResponse">
<xs:sequence>
<xs:element name="return" type="tns:profesor" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="profesor">
<xs:sequence>
<xs:element name="APELLIDO" type="xs:string" minOccurs="0" />
<xs:element name="ID_CUENTA" type="xs:string" minOccurs="0" />
<xs:element name="ID_PRO" type="xs:string" minOccurs="0" />
<xs:element name="NOMBRE" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarNotas">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarNotasResponse">
<xs:sequence>
<xs:element name="return" type="tns:notas" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="notas">
<xs:sequence>
<xs:element name="ID_DOCENTE" type="xs:string" minOccurs="0" />
<xs:element name="ID_ESTUD" type="xs:string" minOccurs="0" />
<xs:element name="ID_NOTA" type="xs:string" minOccurs="0" />
<xs:element name="ID_PARCIAL" type="xs:string" minOccurs="0" />
<xs:element name="NOTA" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Estudianteslist">
<xs:sequence />
</xs:complexType>

<xs:complexType name="EstudianteslistResponse">
<xs:sequence>
<xs:element name="return" type="tns:esrudiantes" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="esrudiantes">
<xs:sequence>
<xs:element name="APELLIDO" type="xs:string" minOccurs="0" />
<xs:element name="ID_CUENTA" type="xs:string" minOccurs="0" />
<xs:element name="ID_ESTUD" type="xs:string" minOccurs="0" />
<xs:element name="NOMBRE" type="xs:string" minOccurs="0" />
<xs:element name="PROMEDIO1" type="xs:double" />
<xs:element name="PROMEDIO2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="notasP1P2">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="notasP1P2Response">
<xs:sequence>
<xs:element name="return" type="tns:esrudiantes" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtEstudiante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtEstudianteResponse">
<xs:sequence>
<xs:element name="return" type="tns:esrudiantes" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtroNotas">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtroNotasResponse">
<xs:sequence>
<xs:element name="return" type="tns:notas" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNota">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNotaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProm">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
<xs:element name="arg1" type="xs:double" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPromResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="id_user" type="xs:string" minOccurs="0" />
<xs:element name="pass_user" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarProfe">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarProfeResponse">
<xs:sequence>
<xs:element name="return" type="tns:profesor" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>